@import 'variables';

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    #logos-container {
        position: absolute;
        right: 2%;
        bottom: 2%;
        width:100%;
        text-align: right;
        ul {
            list-style: none outside none;
        }
        #logo-accomp {
            width: 10%;
            min-width: 88px;
        }
        #logo-snam {
            width: 10%;
            min-width: 88px;
        }
    }
    video.background-video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
    }
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    nav {
        font-weight: 900;
        font-size: 1.5em;
        text-align: center;
        ul li {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 13px;
            margin-right: 5px;
            margin-left: 5px;
            cursor: pointer;
            background-color: $grey-background;
            opacity: 0.4;
            color: $black;
            transition:0.3s;
            &:hover {
                color: $black;
                opacity: 0.7;
            }
        }
    }
}



